<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:oracle:thin:@3.34.136.30:1521:xe" />
				<property name="username" value="TEAM_G" />
				<property name="password" value="1q2w3e4r" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/mapper/boards-mapper.xml"/>
		<mapper resource="mybatis/mapper/users-mapper.xml"/>
		<mapper resource="mybatis/mapper/comments-mapper.xml"/>
		<mapper resource="mybatis/mapper/applies-mapper.xml"/>
	</mappers>
</configuration>