<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="findByUser" resultType="data.User" parameterType="String">
		SELECT * FROM USERS WHERE ID = #{id }
	</select>
	<insert id="createUser" parameterType="hashmap">
	INSERT INTO USERS VALUES(#{id},#{pass},#{nick})
	</insert>
</mapper>